<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">
<head>
	<title>shopping</title>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
<div ng-controller="ToBuyController as tobuy">
	<ul>
		<h3>To Buy List</h3>
		<li ng-repeat="item in tobuy.tobuyitems">
			Buy {{item.quantity}} {{item.name}}
			<button ng-click="tobuy.removetobuy($index);">Bought</button>
		</li>
	</ul>
	<div ng-if="tobuy.tobuyitems.length==0"><p>Everything bought!!!</p></div>
</div>
<div ng-controller="AldreadyBoughtController as bought">
	<ul>
		<h3>Aldready Bought</h3>
		<li ng-repeat="item in bought.boughtitem">
			Bought {{item.quantity}} {{item.name}}
		</li>
	</ul>
	<div ng-if="bought.boughtitem.length==0"><p>Nothing bought yet!!!</p></div>
</div>
</body>
</html>
