<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
  <head>
  	<meta charset="utf-8">
    <title>Menu</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div ng-controller="NarrowItDownController as ctrl">
    <h2>Narrow Down Your Menu Choice</h2>
    <div>
      <input type="text" placeholder="search term" ng-model="ctrl.searchTerm">
      <button ng-click="ctrl.narrowIt()">Narrow It Down For Me!</button>
    </div>
	<items-loader-indicator></items-loader-indicator>
	<found-items found="ctrl.items" on-remove="ctrl.removeItem(index)"></found-items>
  </div>

</body>
</html>